*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;                                          
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}

.wrapper .menu-bar{
    background: #FFD834;
}

.wrapper .adviser-bar{
    display: flex;
    flex-direction: column;
    margin-left: 58px;
}

.wrapper .adviser-bar .search-bar{
    width: 95%;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.wrapper .adviser-bar .search-bar input{
    border: 2px solid #BDBDBD;
    border-radius: 20px;
    padding: 12px 113px 12px 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
}


.wrapper .adviser-bar .search-bar a{
    background: #FFFFFF;
    border: 1px solid #666666;
    border-radius: 26px;
    padding: 14.5px 14px 14.5px 50px;
    text-decoration: none;
    font-family: 'Arial Rounded MT Bold', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1px;
    color: #666666;
}

.wrapper .adviser-bar .search-bar img{
    position: absolute;
}

.wrapper .adviser-bar .search-bar #glasses{
    top: 11px;
    left: 265px;
}

.wrapper .adviser-bar .search-bar #trash{
    top: 11px;
    right: 71px;
}